:host {
  display: block;
  width: 100vw;
  height: 100vh;

  .receiver-root {
    width: 100%;
    height: 100%;

    padding: 20px;

    display: grid;
    grid-template:
      'controls' auto
      'screen' 1fr /
      1fr;

    box-sizing: border-box;

    .controls-container {
      grid-area: controls;
    }

    .screen-container {
      grid-area: screen;
    }
  }
}
