:host {
  display: block;
  width: 100vw;
  height: 100vh;

  .receiver-root {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template:
      'controls' auto
      'screen' 1fr /
      1fr;

    box-sizing: border-box;

    .controls-container {
      grid-area: controls;
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 0.9em;
      background-color: #242529;

      padding: 8px;

      p {
        margin: 0;
      }

      border-bottom: 2px solid #5056674c;
    }

    .screen-container {
      grid-area: screen;
      overflow: hidden;

      &.waiting {
        filter: blur(4px);
        opacity: 0.6;
        transition:
          filter 0.3s ease,
          opacity 0.3s ease;
        border: 2px dashed #5056674c;
      }
    }
  }
}
